<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.Pau.ImapNotes2"
	android:versionCode="36"
	android:versionName="4.5" xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
	<uses-permission android:name="android.permission.READ_SYNC_STATS"/>
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
	
	<application
		android:icon="@drawable/ic_launcher"
		android:name="@string/app_name"
		android:label="@string/app_name"
		android:theme="@style/ImapNotesTheme">

		<activity android:name=".Listactivity"
		    android:label="@string/app_name"
		    android:launchMode="singleTop">
			<intent-filter>
                            <action android:name="android.intent.action.MAIN" />
                            <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
                        <intent-filter>
                            <action android:name="android.intent.action.SEARCH" />
                        </intent-filter>
                        <meta-data android:name="android.app.searchable"
                                android:resource="@xml/searchable" />
		</activity>

		<activity android:name=".AccontConfigurationActivity"
                    android:exported="true"
		    android:parentActivityName="com.Pau.ImapNotes2.Listactivity">
			<meta-data android:name="android.support.PARENT_ACTIVITY"
				android:value="com.Pau.ImapNotes2.Listactivity" />
		</activity>

		<activity android:name=".NoteDetailActivity"
		    android:parentActivityName="com.Pau.ImapNotes2.Listactivity">
			<meta-data android:name="android.support.PARENT_ACTIVITY"
				android:value="com.Pau.ImapNotes2.Listactivity" />
		</activity>

		<activity android:name=".NewNoteActivity"
		    android:parentActivityName="com.Pau.ImapNotes2.Listactivity">
			<meta-data android:name="android.support.PARENT_ACTIVITY"
				android:value="com.Pau.ImapNotes2.Listactivity" />
		</activity>

		<service android:name="com.Pau.ImapNotes2.Miscs.ImapNotesAuthenticatorService" android:exported="true">
			<intent-filter>
				<action android:name="android.accounts.AccountAuthenticator" />
			</intent-filter>
			<meta-data android:name="android.accounts.AccountAuthenticator"
				android:resource="@xml/authenticator" />
		</service>

                <provider
                        android:name="com.Pau.ImapNotes2.Sync.StubProvider"
                        android:authorities="com.Pau.ImapNotes2.provider"
                        android:exported="false" />

                <service android:name="com.Pau.ImapNotes2.Sync.SyncService" android:exported="true">
                    <intent-filter>
                        <action android:name="android.content.SyncAdapter" />
                    </intent-filter>
                    <meta-data android:name="android.content.SyncAdapter"
                               android:resource="@xml/syncadapter" />
                </service>
	</application>
</manifest>
